html {
	box-sizing: border-box;
	font-family: 'Segoe UI';
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 30px auto;
}

/* simple */
.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}


/* START: Accommodating for IE */ 
.flip-container.hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
} 
.flip-container.hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/* END: Accommodating for IE */
.flip-container, .front, .back {
	width: 100%;
	height: 310px;
}
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateY(0deg);
	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateY(0deg);
	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	z-index: 2;
	background-color: #000;
	border-radius: 2px;
}

.front::before,
.back::before {
	content: "?";
	color: #fff;
	font-size: 200px;
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right:0;
	margin: auto 0;
}
.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);

	border-radius: 2px;
	background-color: #fff;
	border: 5px solid #000;
}
.back::before {
	content: attr(data-num);
	color: #000;
}



.card-wrapper {
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.card-wrapper > .flip-container {
	width: 30%;
	max-width: 250px;
	margin: 0 10px;
	display: inline-block;
}


#btnReplay {
	display: none;
	margin-top: 30px;
	font-size: 20px;
	padding: 20px 40px;
	border: 3px solid #000;
	border-radius: 2px;
	background-color: #fff;

	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#btnReplay:hover, #btnReplay:focus {
	background-color: #000;
	color: #fff;
	outline: none;
}
#btnReplay:active,
.flip-container:active {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}



.game-end .flip-container {
	margin: 0;
	width: 750px;
	max-width: 750px;
}
.game-end .flip-container:first-child,
.game-end .flip-container:last-child {
	display: none;
}
.game-end #btnReplay {
	display: inline-block;
}